.App {
  font-family: sans-serif;
  text-align: center;
}
.link-animation:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
.button-animation {
  transition: transform 0.3s ease; /* Add transition for the transform property */
}

.button-animation:hover {
  transform: scale(1.1); /* Enlarge on hover */
}
.icon-animation:hover {
  transform: scale(1.1); /* Add transition for the transform property */
}
